.page {
    padding: 10px 20px;
}

.page p,
h1,
h2,
h3,
ul {
    margin: 0;
}

.main_head {
    text-align: center;
    margin-bottom: 20px;
}

.main_head h1 {
    color: #7d57c2;
}

.contact_section {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.section {
    margin-bottom: 20px;
}

.list_item {
    margin-bottom: 5px;
}

.list_item h3 {
    font-size: 15px;
    margin-bottom: 5px;
}

.list_item p {
    font-size: 13px;
}

.header {
    margin-bottom: 5px;
}

.header h2 {
    font-size: large;
    color: #7d57c2;
}

.skill_list {
    display: flex;
    gap: 10px;
}

.skill_list li {
    font-size: 14px;
    border: 2px solid #7d57c2;
    border-radius: 10px;
    padding: 3px 10px;
}