.App {
  display: flex;
}

.sidebar {
  border-right: 2px solid #e8e8e8;
  height: 100vh;
  width: 280px;
  z-index: 1000;
  background: #fff;
}

.sidebar-item {
  border-bottom: 2px solid #e8e8e8;
}

.sidebar-item>div {
  padding: 8px 16px;
  font-family: "Poppins";
  font-weight: 500;
  display: flex;
  justify-content: space-between;
}

.list-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

.detail-input-wrapper {
  width: 400px;
  height: 100vh;
  padding: 16px;
  border-right: 2px solid #e8e8e8;
  /* z-index: -1; */
}