body {
  margin: 0;
  font-family: "Poppins", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f8f8f8;
}

:root {
  --danger: rgb(241, 121, 77);
}

ul {
  list-style: none;
  padding: 0px;
}

textarea {
  resize: vertical;
  font-family: "Poppins", sans-serif !important;
  font-size: smaller !important;
}

.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.rubik {
  font-family: "Rubik", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}



/* personal info component  */

.image-wrapper {
  width: max-content;
  text-align: center;
  margin-bottom: 30px;
}

.image-container {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 10px auto;
  margin-bottom: 20px;
}

.image-container img {
  width: 100px;
  aspect-ratio: 1;
  object-fit: cover;
  border-radius: 50%;
}

.danger-text {
  color: var(--danger);
}

.btn {
  border: none;
  width: 100%;
  font-size: medium;
  background: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  /* display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px; */
}

.py-2 {
  padding: 8px 10px;
}

.btn-outline {
  outline: 1px solid #4f4f4f;
}

.btn-text {
  color: #000000;
  text-decoration: none;
}

.btn-icon {
  width: fit-content;
  outline-color: var(--danger);
  color: var(--danger);
}

.input-grp {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.input-grp .input-control {
  width: 100%;
}

.input-control {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.input-control label {
  font-size: small;
}

.input-control input,
.input-control textarea {
  /* width: 100%; */
  font-size: medium;
  padding: 10px;
  border: 1px solid #c5c2c2;
  border-radius: 4px;
  margin-bottom: 20px;
}

.input-control input:focus-visible,
.input-control textarea:focus-visible {
  border: 2px solid #8e8c8c;
  outline: none;
}

.label-container {
  display: flex;
  justify-content: space-between;
}

.toggle {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: small;
  margin-right: 10px;
}

.toggle .select {
  color: #2cc08d;
}

.toggle .remove {
  color: #c5c2c2;
}

/* education section  */

.edu-section {
  margin-top: 20px;
}

.btn-grp {
  display: flex;
  gap: 30px;
  margin-top: 20px;
}

.btn-grp.image {
  gap: 10px;
}

.btn-dark {
  background: #000000;
  color: #fff;
  white-space: nowrap;
  display: flex;
  align-items: center;
  gap: 10px;
}

.icon-color path {
  /* Apply linear gradient to SVG fill color */
  fill: url(#gradient);
  /* Reference the gradient definition */
}


.list-container {
  display: flex;
  gap: 10px;
  flex-wrap: nowrap;
  overflow-x: auto;
  margin: 20px 0;
}

.list-item {
  width: max-content;
  padding: 7px 10px;
  white-space: nowrap;
  border: 2px solid #000000;
  border-radius: 10px;
  cursor: pointer;
}

.list-item.selected {
  background: #000000;
  color: #fff;
}

.list-container.skills {
  overflow-x: unset;
  flex-wrap: wrap;
}

/* Resume wrapper  */

.resume-wrapper {
  padding: 50px 20px;
  flex-grow: 1;
}

.resume-preview {
  margin: 0 auto;
  background: #fff;
  width: 607px;
  height: 820px;
}

/* navbar  */

.navbar-wrapper {
  padding: 15px 100px 15px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  border-bottom: 2px solid #e8e8e8;

}

.nav_brand img {
  width: 80px;
  object-fit: contain;
}

.navbar-wrapper .btn-grp {
  margin: 0;
  gap: 15px;
}

.navbar-wrapper .btn {
  padding: 8px 20px;
}

.ai-label {
  width: fit-content;
  background-image: linear-gradient(90deg, #da7430, #af6dac, #1e90e7);
  background-clip: text;
  -webkit-background-clip: text;
  /* For older WebKit browsers */
  color: transparent;
}

.ai-input {
  /* border: 5px solid !important; */
  border-image: linear-gradient(90deg, #da7430, #af6dac, #1e90e7) !important;
  border-image-slice: 1 !important;
  border-radius: 4px !important;
}