body {
  margin: 0;
  font-family: "Poppins", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul {
  list-style: none;
  padding: 0px;
}

textarea {
  resize: vertical;
}



.poppins-light {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}



/* personal info component  */

.image-wrapper {
  width: max-content;
  text-align: center;
  margin-bottom: 30px;
}

.image-container {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin: 10px auto;
  margin-bottom: 20px;
}

.image-container img {
  width: 100px;
  aspect-ratio: 1;
  object-fit: contain;
}

.btn {
  border: none;
  width: 100%;
  font-size: medium;
  background: none;
  padding: 8px 10px;
  border-radius: 4px;
  cursor: pointer;
}

.btn-outline {
  outline: 1px solid #4f4f4f;
}

.input-grp {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

.input-grp .input-control {
  width: 100%;
}

.input-control {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.input-control label {
  font-size: small;
}

.input-control input,
.input-control textarea {
  /* width: 100%; */
  font-size: medium;
  padding: 10px;
  border: 1px solid #c5c2c2;
  border-radius: 4px;
  margin-bottom: 20px;
}

.input-control input:focus-visible,
.input-control textarea:focus-visible {
  border: 2px solid #8e8c8c;
  outline: none;
}

/* education section  */

.edu-section {
  margin-top: 20px;
}

.btn-grp {
  display: flex;
  gap: 30px;
}

.btn-dark {
  background: #000000;
  color: #fff;
}

.list-container {
  display: flex;
  gap: 10px;
  flex-wrap: nowrap;
  overflow-x: auto;
  margin: 20px 0;
}

.list-item {
  width: max-content;
  padding: 7px 10px;
  white-space: nowrap;
  border: 2px solid #000000;
  border-radius: 10px;
  cursor: pointer;
}

.list-item.selected {
  background: #000000;
  color: #fff;
}